@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.box {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	float:none;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

.footer-section {
	
    padding:0.5%;
    color:#ffffff;
    font-size:13px;
    background-color: #8B0000;
    border-top:4px solid #C46A15;
	border-bottom: 2px solid #C46A15;
	height:100px;
	width:100%;
}

.footer-section a, .footer-section a:hover {
	color:#ffffff;
}

.quote-text{
	font-size:15px;
	font-family: 'Shadows Into Light', cursive;
}

.left-allign {
	text-align:right;
}

.header-section {
	order:-1;
    padding:10px 50px 100px 10px;
    color:Black;
    font-size:30px;
    background-color: #8B0000;
    text-align:left;
    border-top:5px solid #C46A15;
	border-bottom: 2px solid #C46A15;

}


div.header-1 {
	position: absolute;
	left: 40px;
}
div.header-2 {
	position: absolute;
	left: 180px;
	top : 35px;
}
div.header-3 {
	position: absolute;
	right: 40px;
}
div.header-4 {
	position: absolute;
	right: 170px;
	top : 30px;
}


.small-text{
	font-size:15px;
	font-family: 'Shadows Into Light', cursive;
}
.medium-text{
	font-size:30px;
	font-family: 'Shadows Into Light', cursive;
}
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("https://previews.123rf.com/images/michaeljayfoto/michaeljayfoto1302/michaeljayfoto130200343/17655986-concept-of-dices-with-letters-forming-words-authors-generic-handwritten-text-pen-glasses-and-books-a.jpg");
  
    /* Control the height of the image */
    min-height: 500px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .home{
    background-color: #330000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
    float:right;
    position: absolute;
    bottom:0;
    right:0;
  }
  /* Set a style for the submit button */
  .btn {
    background-color: #330000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  